:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

.backgroundHome {
  background: url("../images/boreal.jpg") no-repeat;
  min-height: 100vh;
  background-size: cover;
  backdrop-filter: blur(10px) brightness(0.8);
}

.backgroundHomeRegister {
  background: url("../images/nature.jpg") no-repeat;
  min-height: 100vh;
  background-size: cover;
  backdrop-filter: blur(20px) brightness(0.8);
}

#loginMain {
  min-block-size: 94vh;
  background-color: transparent;
  display: grid;
  place-items: center;
  padding: 1rem;
}

#form {
  padding: 2rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.712);
  border-radius: 20px;
  outline: 1px solid var(--clr-nuance-300);
}

@media screen and (min-width: 1000px) {
  #form {
    inline-size: 30rem;
  }
}

.formTitle {
  text-align: center;
  margin-block-end: 3rem;
  letter-spacing: 0.03rem;
  color: var(--clr-white);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formInput {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: 1px solid var(--clr-nuance-200);
  border-left: none;
  border-right: none;
  border-top: none;
  background: transparent;
  inline-size: 100%;
  font-size: 1.2rem;
  color: var(--clr-white);
}

.inputBox {
  position: relative;
}

.inputBox i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: white;
  font-size: 1.2rem;
}

.formInput::placeholder {
  font-size: 1rem;
  letter-spacing: 0.03rem;
  color: var(--clr-white);
}

.submitBtn {
  background-color: var(--clr-primary-500);
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--ff-button);
  letter-spacing: 0.1rem;
  margin-block: 3rem 1rem;
  color: var(--clr-white);
  transition: var(--transition-02);
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #fff;
  color: var(--clr-primary-500);
}

.formAlt {
  color: var(--clr-white);
  font-size: 1rem;
  margin-inline: auto;
}

.formAlt a {
  color: var(--clr-primary-300);
  transition: var(--transition-02);
}

.formAlt a:hover {
  color: var(--clr-white);
  text-decoration: underline;
}

.userImage {
  inline-size: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.uploadImage {
  cursor: pointer;
  position: relative;
  margin-inline: auto;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
  border: 5px solid var(--clr-white);
  background-color: var(--clr-white);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.274);
  transition: var(--transition-02);
}

.uploadImage:hover {
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.403);
}

.uploadImage > input[type="file"] {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 0;
  transform: scale(5);
  opacity: 0;
}

.uploadImage i {
  color: var(--clr-nuance-900);
  font-size: 1.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(100%, -10%);
  transition: var(--transition-02);
}

.uploadImage:hover i {
  color: var(--clr-primary-500);
  transform: translate(100%, -40%);
}
