:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* secondary color */
  --clr-secondary-50: #fdf8ef;
  --clr-secondary-100: #fbefd9;
  --clr-secondary-200: #f6dbb2;
  --clr-secondary-300: #f0c281;
  --clr-secondary-400: #e9a04e;
  --clr-secondary-500: #e68f3d;
  --clr-secondary-600: #d56d21;
  --clr-secondary-700: #b1531d;
  --clr-secondary-800: #8d421f;
  --clr-secondary-900: #72381c;
  --clr-secondary-950: #3d1b0d;

  /* third color */
  --clr-third-50: #fcf4f4;
  --clr-third-100: #f9e7e7;
  --clr-third-200: #f5d3d3;
  --clr-third-300: #eeb3b3;
  --clr-third-400: #e59494;
  --clr-third-500: #d36060;
  --clr-third-600: #be4444;
  --clr-third-700: #9f3636;
  --clr-third-800: #843030;
  --clr-third-900: #6f2d2d;
  --clr-third-950: #3b1414;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";
  --ff-poppins: "Poppins", sans-serif;
  --ff-karla: "Karla", sans-serif;

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

.logo {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.1rem;
  background-color: var(--clr-primary-500);
}

.logoTitle {
  color: var(--clr-white);
  font-size: 1.7rem;
  font-family: var(--ff-satisfy);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navlinkContainer a {
  color: var(--clr-white);
  font-family: var(--ff-montserrat);
  font-weight: 500;
  transition: var(--transition-02);
}

.navlinkContainer a:hover {
  color: var(--clr-primary-500);
}

.navBtnContainer button {
  color: var(--clr-white);
  letter-spacing: 0.07rem;
  font-family: var(--ff-button);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.login {
  background-color: var(--clr-primary-600);
}

.signin {
  background-color: var(--clr-nuance-950);
}

#navbar {
  block-size: 3.5rem;
}

.navContainer {
  inline-size: 100%;
  position: fixed;
  top: 0;
  z-index: 1111;
}

.signout {
  font-size: 1.2rem;
  background-color: rgba(255, 0, 0, 0.61);
  border: none;
  color: var(--clr-white);
  transition: var(--transition-02);
  cursor: pointer;
  font-family: var(--ff-button);
  letter-spacing: 0.05rem;
  padding-inline: 1rem;
}

.signout:hover {
  background-color: rgb(220, 4, 4);
}

@media screen and (max-width: 1190px) {
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.171);
  }

  .navlinkContainer ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .navBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
  }

  .linkContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-100%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.399);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
    opacity: 0;
  }

  .linkContainer.active {
    transform: translateY(0);
    opacity: 1;
  }

  .navBtnContainer button {
    padding: 1.2rem 3.5rem;
    font-size: 1.1rem;
    text-align: center;
  }

  .logoTitle {
    color: var(--clr-black);
  }

  .burgerContainer {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .burgerMenu {
    display: block;
  }

  .burgerBar {
    width: 100%;
    height: 4px;
    background-color: var(--clr-black);
    border-radius: 2px;
    transition: var(--transition-04);
  }

  .burgerBar.open {
    background-color: var(--clr-white);
  }

  .open.topBar {
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  .open.middleBar {
    opacity: 0;
  }

  .open.bottomBar {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }

  .showProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: var(--transition-02);
    position: relative;
  }

  .profileSection a {
    font-size: 1.5rem;
    border-radius: 10px;
    block-size: 6rem;
    padding: 1rem;
    margin-inline: auto;
    background-color: var(--clr-primary-500);
  }

  .profileImage {
    block-size: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: var(--transition-02);
    object-fit: cover;
    outline: 2px solid var(--clr-white);
  }

  .signout {
    padding: 1rem;
    border-radius: 10px;
    margin-inline: auto;
    font-size: 1.5em;
    inline-size: 80%;
    font-size: 1.5rem;
    font-family: var(--ff-button);
  }

  /* ============= NAVBAR EVENTS ============= */

  /* -------- active -------- */

  .logoTitle.active {
    color: var(--clr-white);
  }

  .notActive {
    transition: all 0.5s ease-in-out;
  }
}

/* ============= DESKTOP RESPONSIVE ============= */

@media screen and (min-width: 1199px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.482);
  }

  .logoContainer {
    padding: 0.5rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlinkContainer ul {
    display: flex;
    gap: 2rem;
  }

  .linkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 70%;
    overflow: hidden;
  }

  .burgerMenu {
    display: none;
  }

  .navBtnContainer button {
    padding: 1.2rem 1rem;
    inline-size: 12rem;
    text-align: center;
  }

  .navBtnContainer {
    display: flex;
  }

  .showProfile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--transition-02);
    position: relative;
    margin-block-start: 0.3rem;
    margin-inline-end: 0.5rem;
  }

  .profileSection a {
    font-size: 1.1rem;
  }

  .profileImage {
    block-size: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: var(--transition-02);
    border: 2px solid var(--clr-white);
    object-fit: cover;
  }

  .showProfile:hover {
    color: var(--clr-primary-500);
  }

  .showProfile:hover .profileImage {
    border: 2px solid var(--clr-primary-500);
  }

  /* -------- active -------- */
  .logoTitle.active {
    color: var(--clr-white);
  }

  .navContainer.active {
    background-color: transparent;
  }

  .notActive {
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1600px) {
  .linkContainer {
    inline-size: 60%;
  }
}

.noScroll {
  overflow: hidden;
}
