:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* secondary color */
  --clr-secondary-50: #fdf8ef;
  --clr-secondary-100: #fbefd9;
  --clr-secondary-200: #f6dbb2;
  --clr-secondary-300: #f0c281;
  --clr-secondary-400: #e9a04e;
  --clr-secondary-500: #e68f3d;
  --clr-secondary-600: #d56d21;
  --clr-secondary-700: #b1531d;
  --clr-secondary-800: #8d421f;
  --clr-secondary-900: #72381c;
  --clr-secondary-950: #3d1b0d;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

/*  */

.settings {
  text-align: end;
  font-size: 2rem;
  padding: 0.5rem;
}

.profileDesc {
  text-align: center;
}

.profileImage {
  block-size: 10rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  border: 4px solid var(--clr-nuance-700);
}

.username {
  font-size: 2rem;
  font-family: var(--ff-montserrat);
  margin-block-start: 1rem;
}

.sharedRecipesTitle {
  text-align: center;
  margin-block-start: 1rem;
  font-family: var(--ff-satisfy);
}

.profileBottomSection {
  margin-block-start: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  inline-size: 90%;
  margin-inline: auto;
  margin-block-end: 5rem;
}

article {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.514);
}

article a {
  color: inherit;
}

article img {
  inline-size: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.445);
}

.articleDesc {
  padding: 0.8rem 0.5rem;
}

.articleDate {
  margin-block: 0.5rem 1rem;
}

.articleBtn {
  padding: 0.2rem 0.7rem;
  background-color: var(--clr-secondary-500);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-family: var(--ff-button);
  letter-spacing: 0.07rem;
}

.articleRecipeName {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}
