/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============= VARIABLES ============= */
:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* secondary color */
  --clr-secondary-50: #fdf8ef;
  --clr-secondary-100: #fbefd9;
  --clr-secondary-200: #f6dbb2;
  --clr-secondary-300: #f0c281;
  --clr-secondary-400: #e9a04e;
  --clr-secondary-500: #e68f3d;
  --clr-secondary-600: #d56d21;
  --clr-secondary-700: #b1531d;
  --clr-secondary-800: #8d421f;
  --clr-secondary-900: #72381c;
  --clr-secondary-950: #3d1b0d;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#mainShare {
  min-block-size: 93.5vh;
}

.backgroundHomeShare {
  background: white;
}

.shareSectionContainer {
  margin-block-start: 2rem;
}

#shareForm {
  max-inline-size: 90%;
  margin-inline: auto;
  border-radius: 10px;
  position: relative;
  font-family: var(--ff-montserrat);
  background: var(--clr-white);
  overflow: hidden;
}

#shareForm input {
  background: var(--clr-white);
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

#shareForm textarea {
  background: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

#shareForm button {
  cursor: pointer;
  transition: var(--transition-02);
}

.formContainer {
  padding: 1rem;
}

#shareForm input::placeholder {
  font-size: 1.1rem;
  color: var(--clr-nuance-700);
  font-weight: 400;
  font-family: var(--ff-button);
}

#shareForm textarea::placeholder {
  font-size: 1.1rem;
  color: var(--clr-nuance-700);
  font-family: var(--ff-button);
  font-weight: 400;
}

#shareForm h2 {
  text-align: center;
  font-weight: 500;
  color: var(--clr-nuance-950);
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: var(--ff-button);
  letter-spacing: 0.07rem;
  font-size: 1.8rem;
  text-decoration: underline;
}

.shareFormTopContainer {
  display: flex;
  overflow: hidden;
  margin-block-end: 1rem;
  gap: 0.5rem;
}

.titleDescContainer {
  inline-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleDescContainer input {
  inline-size: 100%;
  margin-block-end: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--clr-nuance-950);
  border-radius: 5px;
  font-size: 1rem;
}

.titleDescContainer textarea {
  inline-size: 100%;
  padding: 0.3rem;
  block-size: 100%;
  border-radius: 5px;
  border: 1px solid var(--clr-black);
  outline: none;
}

@keyframes cloudScale {
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.postImgContainer {
  position: relative;
  inline-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  block-size: 10rem;
  border: 1px dashed var(--clr-nuance-800);
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;
  color: var(--clr-nuance-950);
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.postImgContainer i {
  font-size: 5rem;
  color: var(--clr-nuance-950);
  animation: cloudScale 1s linear infinite;
  transition: var(--transition-02);
}

.postImgContainer:hover i {
  color: var(--clr-secondary-500);
  transform: translateY(-10%);
}

.postImgContainer p {
  text-align: center;
  font-family: var(--ff-button);
}

.noBorder {
  border: none;
}

.postImgContainer input {
  position: absolute;
  top: 5rem;
  left: 30rem;
  transform: scale(20);
  opacity: 0;
}

.eatersBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.eatersBox label {
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: underline;
}

.eatersControl {
  display: flex;
  border: 2px solid var(--clr-nuance-700);
  border-radius: 10px;
}

.eatersBox input {
  font-size: 1.1rem;
  inline-size: 2.5rem;
  text-align: center;
  color: var(--clr-secondary-800);
  font-weight: 500;
  border: none;
}

.eatersBox button {
  background: none;
  font-size: 2rem;
  color: var(--clr-black);
  padding-inline: 0.5rem;
}

.eatersBox button:hover {
  background: var(--clr-secondary-500);
  color: var(--clr-white);
}

.eatersBtnLeft {
  border: none;
  border-right: 2px solid var(--clr-nuance-700);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.eatersBtnRight {
  border: none;
  border-left: 2px solid var(--clr-nuance-700);
  margin-inline-start: 0.2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.numberContainer {
  display: flex;
  align-items: center;
}

.eatersText {
  display: inline-block;
  width: 75px;
  text-align: left;
  font-weight: 500;
}

.categoriesSelect {
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid var(--clr-nuance-700);
  font-family: var(--ff-button);
  outline: none;
  padding: 0.4rem;
}

.formIngredients {
  margin-block-start: 1rem;
  margin-block-end: 4rem;
  block-size: 13rem;
}

.ingredientScroll {
  block-size: 12rem;
  overflow: scroll;
  position: relative;
}

.ingredientsTitle {
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.2rem;
}

.ingredientsContainer {
  display: flex;
  /* border: 2px solid var(--clr-nuance-700); */
  border-radius: 10px;
  margin-block: 1rem;
}

.ingredientsContainer input {
  border: none;
  border-bottom: 2px solid var(--clr-nuance-700);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 500;
}

.ingredientsName {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  inline-size: 100%;
}

.ingredientsContainer input[type="number"] {
  /* border-left: 2px solid var(--clr-nuance-700);
  border-right: 2px solid var(--clr-nuance-700); */
  border: none;
  text-align: center;
  inline-size: 25%;
  color: var(--clr-secondary-800);
}

.ingredientsContainer select {
  border: none;
  outline: none;
  background: none;
  font-weight: 500;
  inline-size: 90%;
  font-size: 1rem;
  font-family: var(--ff-button);
  background: var(--clr-white);
}

.moreIngredients {
  background: var(--clr-secondary-500);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-block-end: 2rem;
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff-button);
  transition: var(--transition-02);
}

.moreIngredients:hover {
  background: var(--clr-secondary-700);
}

.removeIngredientBtn {
  background: rgb(255, 30, 30);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  /* border-left: 2px solid var(--clr-nuance-900); */
  font-size: 1rem;
  padding: 0.3rem;
}

.removeIngredientBtn:hover {
  background: rgb(179, 21, 21);
}

.removeIngredientBtn i {
  color: var(--clr-white);
}

.scrollVisible {
  overflow-y: auto;
}

.ingredientScroll::-webkit-scrollbar {
  width: 4px;
}

.ingredientScroll::-webkit-scrollbar-thumb {
  background-color: #888;
}

.ingredientScroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.shareSubmit {
  background: var(--clr-nuance-950);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: var(--ff-button);
  font-size: 1rem;
  color: var(--clr-white);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.shareSubmit:hover i {
  color: rgb(22, 236, 22);
}

.imagePreviewContainer {
  position: absolute;
}

.imagePreview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.shareCarousel {
  display: none;
}

.formCircle,
.formCircle2,
.formCircle3 {
  display: none;
}

@media screen and (min-width: 800px) {
  #shareForm {
    max-inline-size: 90%;
  }

  .postImgContainer {
    block-size: 15rem;
  }

  .postImgContainer p {
    max-inline-size: 70%;
  }
}

@media screen and (min-width: 1200px) {
  #mainShare {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #shareForm {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    max-inline-size: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .backgroundHomeShare {
    background: linear-gradient(
      45deg,
      var(--clr-nuance-950),
      var(--clr-nuance-800)
    );
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }

  @keyframes color {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .titleDescContainer input {
    background: var(--clr-white);
  }

  .titleDescContainer textarea {
    background: var(--clr-white);
  }

  .ingredientsContainer input {
    background: var(--clr-white);
  }

  .eatersBox input {
    background: var(--clr-white);
  }

  #shareForm h2 {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    background: var(--clr-secondary-500);
    color: var(--clr-white);
  }

  .eatersBox {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
  }

  .formIngredients {
    margin-block-start: 1rem;
    block-size: 13rem;
    margin-block-end: 0rem;
  }

  .ingredientScroll {
    block-size: 8rem;
    overflow: scroll;
    position: relative;
  }

  .shareCarousel {
    display: block;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  .shareCarousel img {
    max-block-size: 40rem;
    border-radius: 10px;
    z-index: 10;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .shareCarousel::after,
  .shareCarousel::before {
    --angle: 0deg;
    content: "";
    display: block;
    position: absolute;
    background-image: conic-gradient(
      from var(--angle),
      var(--clr-secondary-500),
      var(--clr-secondary-950),
      var(--clr-secondary-600),
      var(--clr-secondary-500),
      var(--clr-secondary-900),
      var(--clr-secondary-400)
    );
    inline-size: 99%;
    block-size: 99%;
    border-radius: 15px;
    animation: 8s spin linear infinite;
  }

  .shareCarousel::before {
    opacity: 0.5;
  }

  @keyframes spin {
    from {
      filter: blur(0.3rem);
      --angle: 0deg;
    }
    to {
      filter: blur(0.3rem);
      --angle: 360deg;
    }
  }

  @keyframes addBlur {
    from {
      filter: blur(0rem);
    }
    to {
      filter: blur(0.3rem);
    }
  }

  @keyframes removeBlur {
    from {
      filter: blur(0.3rem);
    }
    to {
      filter: blur(0rem);
    }
  }

  .carouselImage {
    animation: addBlur 0.5s linear;
  }

  .carouselImage.show {
    animation: removeBlur 1s linear;
  }

  .shareCarousel h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    font-size: 2rem;
    color: var(--clr-white);
    text-align: center;
    text-shadow: #00000079 0 10px 10px;
    letter-spacing: 0.07rem;
    inline-size: 90%;
    line-height: 1.5;
  }

  .shareSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      -45deg,
      var(--clr-nuance-500),
      var(--clr-nuance-950)
    );
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 10px;
    gap: 0.5rem;
  }

  .ingredientsName {
    inline-size: 150%;
  }

  .formImg {
    position: absolute;
    z-index: 50;
    bottom: 0;
    block-size: 8rem;
    right: 2rem;
  }

  .formCircle {
    display: block;
    block-size: 10rem;
    aspect-ratio: 1/1;
    background: var(--clr-secondary-600);
    border-radius: 50%;
    position: absolute;
    bottom: -4rem;
    right: -4rem;
  }

  .formCircle2 {
    display: block;
    block-size: 1.5rem;
    aspect-ratio: 1/1;
    background: var(--clr-secondary-500);
    border-radius: 50%;
    position: absolute;
    bottom: 2rem;
    right: 7rem;
  }

  .formCircle3 {
    display: block;
    block-size: 1rem;
    aspect-ratio: 1/1;
    background: var(--clr-secondary-800);
    border-radius: 50%;
    position: absolute;
    bottom: 5rem;
    right: 10rem;
  }
}

@media screen and (min-width: 1600px) {
  .ingredientScroll {
    block-size: 8.5rem;
    overflow: scroll;
    position: relative;
  }
}
