/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============= VARIABLES ============= */
:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* secondary color */
  --clr-secondary-50: #fdf8ef;
  --clr-secondary-100: #fbefd9;
  --clr-secondary-200: #f6dbb2;
  --clr-secondary-300: #f0c281;
  --clr-secondary-400: #e9a04e;
  --clr-secondary-500: #e68f3d;
  --clr-secondary-600: #d56d21;
  --clr-secondary-700: #b1531d;
  --clr-secondary-800: #8d421f;
  --clr-secondary-900: #72381c;
  --clr-secondary-950: #3d1b0d;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#mainShare {
  min-block-size: 90vh;
}

.backgroundHomeShare {
  background: rgb(243, 243, 243);
}

#shareForm {
  margin-block: 2.5rem;
  max-inline-size: 90vw;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: var(--ff-montserrat);
  background: var(--clr-white);
}

#shareForm input::placeholder {
  font-size: 1.1rem;
  color: var(--clr-nuance-700);
  font-weight: 500;
  font-family: var(--ff-button);
}

#shareForm textarea::placeholder {
  font-size: 1.1rem;
  color: var(--clr-nuance-700);
  font-family: var(--ff-button);
  font-weight: 500;
}

.titleBox {
  margin-block-end: 1rem;
}

.shareTitle {
  padding: 0.2rem;
  font-size: 1.1rem;
  border: 2px solid var(--clr-nuance-700);
  border-radius: 5px;
  inline-size: 100%;
  color: var(--clr-nuance-700);
}

#shareForm h1 {
  text-align: center;
  font-weight: 500;
}

.shareFormLine {
  background-color: var(--clr-primary-500);
  block-size: 5px;
  inline-size: 20rem;
  margin-block-end: 2rem;
  margin-inline: auto;
  border-radius: 50px;
}

.imgDescBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-block-end: 2rem;
}

.shareImg {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px dashed var(--clr-nuance-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.imageSelected {
  border: none;
}

.shareImg p {
  font-size: 1.2rem;
  color: var(--clr-primary-500);
}

@keyframes cloudScale {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.shareImg i {
  font-size: 5rem;
  color: var(--clr-primary-500);
  animation: cloudScale 2s linear infinite;
}

.shareImg input {
  position: absolute;
  top: 5rem;
  left: 30rem;
  transform: scale(11);
  opacity: 0;
}

.shareDesc {
  inline-size: 100%;
  font-size: 1.1rem;
  color: var(--clr-nuance-700);
}

.shareDesc textarea {
  border: 2px solid var(--clr-nuance-700);
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  padding: 0.2rem;
}

.eatersBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.eatersBox label {
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: underline;
}

.eatersControl {
  display: flex;
  border: 2px solid var(--clr-nuance-700);
  border-radius: 10px;
}

.eatersBox input {
  font-size: 1.1rem;
  inline-size: 2.5rem;
  text-align: center;
  color: var(--clr-primary-500);
  font-weight: 500;
  border: none;
}

.eatersBox button {
  background: none;
  font-size: 2rem;
  color: var(--clr-black);
  padding-inline: 0.5rem;
  cursor: pointer;
  transition: var(--transition-02);
}

.eatersBox button:hover {
  background: var(--clr-primary-500);
  color: var(--clr-white);
}

.eatersBtnLeft {
  border: none;
  border-right: 2px solid var(--clr-nuance-700);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.eatersBtnRight {
  border: none;
  border-left: 2px solid var(--clr-nuance-700);
  margin-inline-start: 0.2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.numberContainer {
  display: flex;
  align-items: center;
}

.eatersText {
  display: inline-block;
  width: 75px;
  text-align: left;
  font-weight: 500;
}

.formIngredients {
  margin-block-start: 1rem;
}

.ingredientsTitle {
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.2rem;
}

.ingredientsContainer {
  display: flex;
  border: 2px solid var(--clr-nuance-700);
  border-radius: 10px;
  margin-block: 1rem;
}

.ingredientsContainer input {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 500;
}

.ingredientsName {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ingredientsContainer input[type="number"] {
  inline-size: 3rem;
  border-left: 2px solid var(--clr-nuance-700);
  border-right: 2px solid var(--clr-nuance-700);
  text-align: center;
  color: var(--clr-primary-500);
}

.ingredientsContainer select {
  border: none;
  background: none;
  font-weight: 500;
  inline-size: 100%;
  font-size: 1rem;
  font-family: var(--ff-button);
}

.moreIngredients {
  background: var(--clr-primary-500);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-block-end: 2rem;
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff-button);
}

.shareSubmit {
  background: rgb(14, 187, 14);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: var(--ff-button);
  font-size: 1rem;
  color: var(--clr-white);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.imagePreviewContainer {
  position: absolute;
  width: 100%; /* Container will take full width of parent */
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.imagePreview {
  max-width: 100%;
  max-height: 100%; /* Ensures it never exceeds container size */
  object-fit: contain;
}

@media screen and (min-width: 1200px) {
  #shareForm {
    max-inline-size: 60vw;
    margin-block: 5rem;
  }

  .ingredientsContainer input[type="number"] {
    inline-size: 6rem;
  }

  .imgDescBox {
    margin-block-end: 2rem;
    block-size: 20rem;
  }

  .shareImg input {
    top: 10rem;
    left: 50rem;
    transform: scale(20);
  }

  .shareDesc textarea {
    border: 2px solid var(--clr-nuance-700);
    inline-size: 100%;
    block-size: 50%;
    border-radius: 5px;
    padding: 0.2rem;
  }

  .shareImg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px dashed var(--clr-nuance-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    block-size: 63%;
  }

  .ingredientsName {
    inline-size: 170%;
  }
}

@media screen and (min-width: 1600px) {
  .imgDescBox {
    margin-block-end: 2rem;
    block-size: 22rem;
  }

  .shareDesc textarea {
    border: 2px solid var(--clr-nuance-700);
    inline-size: 100%;
    block-size: 50%;
    border-radius: 5px;
    padding: 0.2rem;
  }

  .shareImg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px dashed var(--clr-nuance-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    block-size: 59%;
  }
}
