/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============= VARIABLES ============= */
:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* secondary color */
  --clr-secondary-50: #fdf8ef;
  --clr-secondary-100: #fbefd9;
  --clr-secondary-200: #f6dbb2;
  --clr-secondary-300: #f0c281;
  --clr-secondary-400: #e9a04e;
  --clr-secondary-500: #e68f3d;
  --clr-secondary-600: #d56d21;
  --clr-secondary-700: #b1531d;
  --clr-secondary-800: #8d421f;
  --clr-secondary-900: #72381c;
  --clr-secondary-950: #3d1b0d;

  /* third color */
  --clr-third-50: #fcf4f4;
  --clr-third-100: #f9e7e7;
  --clr-third-200: #f5d3d3;
  --clr-third-300: #eeb3b3;
  --clr-third-400: #e59494;
  --clr-third-500: #d36060;
  --clr-third-600: #be4444;
  --clr-third-700: #9f3636;
  --clr-third-800: #843030;
  --clr-third-900: #6f2d2d;
  --clr-third-950: #3b1414;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

#singleRecipeMain {
  max-inline-size: 90vw;
  margin-inline: auto;
  min-block-size: 92vh;
}

.singleRecipeTopSection {
  margin-block-start: 1.5rem;
}

.userCategoryBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImgBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.userCategoryBox p {
  font-family: var(--ff-button);
  font-size: 1.3rem;
}

.userImgBox img {
  width: 70px;
  border-radius: 50%;
  border: 2px solid var(--clr-third-950);
}

.imgDateBox img {
  inline-size: 70rem;
  block-size: 12rem;
  max-block-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.imgDescBox {
  display: flex;
  padding: 0.5rem;
  margin-block-start: 1rem;
}

.createdAtRecipe {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.createdAtRecipe p,
span {
  font-family: var(--ff-button);
}

.titleDescBox {
  margin-inline-start: 1rem;
}

.titleDescBox h1 {
  font-size: 1.2rem;
  color: var(--clr-third-600);
  font-family: var(--ff-montserrat);
}

.titleDescBox p {
  margin-block-start: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.singleRecipeIng {
  display: flex;
  margin-block: 0.5rem 1rem;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  font-weight: 500;
}

.singleRecipeIng i {
  color: var(--clr-third-500);
}

.sectionLine {
  block-size: 0.1rem;
  inline-size: 40%;
  background: var(--clr-black);
  border-radius: 50px;
  margin-inline-start: 1rem;
}

.singleRecipeBottomSection {
}

.eatersBox {
  display: flex;
  align-items: center;
  border: 2px solid var(--clr-nuance-950);
  border-radius: 10px;
  inline-size: max-content;
}

.persNumber {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.eatersBox p {
  color: var(--clr-third-500);
  font-weight: 500;
}

.eatersBox span {
  font-weight: 500;
}

.eatersBox button {
  background: transparent;
  border: none;
  padding: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.eatersBox button:first-child {
  border-right: 2px solid var(--clr-nuance-950);
}

.eatersBox button:last-child {
  border-left: 2px solid var(--clr-nuance-950);
}

.ingredientList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: 2rem;
}
