/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============= VARIABLES ============= */
:root {
  /* primary color */
  --clr-primary-50: #f0f8fe;
  --clr-primary-100: #deeefb;
  --clr-primary-200: #c4e2f9;
  --clr-primary-300: #9bd0f5;
  --clr-primary-400: #6cb6ee;
  --clr-primary-500: #4a99e7;
  --clr-primary-600: #337cdb;
  --clr-primary-700: #2c68c9;
  --clr-primary-800: #2955a4;
  --clr-primary-900: #274981;
  --clr-primary-950: #1c2e4f;

  /* nuance */
  --clr-nuance-50: #f6f6f6;
  --clr-nuance-100: #e7e7e7;
  --clr-nuance-200: #d1d1d1;
  --clr-nuance-300: #b0b0b0;
  --clr-nuance-400: #888888;
  --clr-nuance-500: #6d6d6d;
  --clr-nuance-600: #5d5d5d;
  --clr-nuance-700: #4f4f4f;
  --clr-nuance-800: #454545;
  --clr-nuance-900: #3d3d3d;
  --clr-nuance-950: #000000;

  --clr-black: #000000;
  --clr-white: #ffffff;

  /* font family */
  --ff-button: "Outfit";
  --ff-satisfy: "Satisfy";
  --ff-montserrat: "Montserrat";

  /* misc */
  --transition-02: all 0.2s ease-in-out;
  --transition-04: all 0.4s ease-in-out;
}

/* ============= ALL ============= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0 0 0 / 0.3)),
    url(./images/pexels-dainiktales-19834446.jpg) no-repeat;
  min-height: 300vh;
  background-position: -45rem -8.5rem;
}

.img {
  display: block;
  object-fit: cover;
  max-inline-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}
/* ============= NAVBAR ============= */

.nav-container {
  display: flex;
  align-items: center;
  position: fixed;
  inline-size: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

body.active {
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar {
  min-block-size: 6dvh;
  max-inline-size: 100%;
}

.logo-title {
  color: var(--clr-white);
  font-size: 1.7rem;
  font-family: var(--ff-satisfy);
}

.navlink-container ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navlink-content {
  min-block-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block-start: 5rem;
}

.nav-btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline: auto;
}

.navlink-container a {
  color: var(--clr-white);
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

.link-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(-150%);
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.399);
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(15px);
}

.link-container.active {
  transform: translateY(-0%);
}

.logo {
  inline-size: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.1rem;
}

.not-active {
  transition: all 0.5s ease-in-out;
}

.navlink-btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  inline-size: 20rem;
  margin-inline: auto;
}

.nav-btn-container a {
  color: var(--clr-white);
  letter-spacing: 0.07rem;
  font-family: var(--ff-button);
}

.login {
  background-color: var(--clr-primary-600);
  padding: 1.2rem 3.5rem;
  font-size: 1.1rem;
}

.signin {
  background-color: var(--clr-nuance-950);
  padding: 1.2rem 3.5rem;
  font-size: 1.1rem;
}

.burger-container {
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger-bar {
  width: 100%;
  height: 4px;
  background-color: var(--clr-white);
  border-radius: 2px;
  transition: var(--transition-04);
}

.burger-bar.scrolled {
  background-color: var(--clr-black);
}

.burger-bar.open {
  background-color: var(--clr-white);
}

.open.top-bar {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.open.middle-bar {
  opacity: 0;
}

.open.bottom-bar {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

/* ============= NAVBAR EVENTS ============= */

/* ----- active ----- */

.logo.active {
  background-color: var(--clr-primary-500);
  transition: var(--transition-04);
}

.navlink-container.active {
  block-size: 100dvh;
  opacity: 1;
  animation: navbarSlide 0.5s forwards;
  position: fixed;
  display: block;
}

@keyframes navbarSlide {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

/* ----- scrolled ----- */

.scrolled {
  transition: var(--transition-02);
}

.nav-container.scrolled {
  background-color: var(--clr-white);
}

.nav-container.active {
  background-color: transparent;
}

.navbar {
  outline: 2px solid red;
}

.logo-title.scrolled {
  color: var(--clr-black);
}
.logo-title.active {
  color: var(--clr-white);
}

.logo.scrolled {
  background-color: var(--clr-primary-500);
}
